/* _content/CryptographySignalR/Pages/Index.razor.rz.scp.css */
#usertextinput[b-atywmldnj3] {
    background-color: rgb(255, 216, 0);
    float: right;
}
.header[b-atywmldnj3] {
    background-color: rgb(0, 255, 33);
}
